/* Custom css code*/
/* -------------------------------------- */


/* Social media buttons located in the navbar*/
.navbar .form-wrapper .social-media-btn .btn, .navbar .form-wrapper .social-media-btn .btn:hover {
    color: #fff;
    margin-right: 5px;
    padding: 0 !important;
    font-size: 13px;
    border: none;
    transition: all 0.4s;
    text-align: center;
    line-height: 34px;
    /*width: 15%;*/
    text-decoration: none;
    }	
  .navbar .social-media-btn .btn-facebook {
    background: #3c5a99;
  }
  .navbar .social-media-btn .btn-facebook:hover {
    background: #334c83;
  }
  .navbar .social-media-btn .btn-linkedin {
    background: #0077b5;
  }
  .navbar .social-media-btn .btn-linkedin:hover {
    background: #0068a0;
  }
  .navbar .social-media-btn .btn-google {
    background: #4285f4;
  }
  .navbar .social-media-btn .btn-google:hover {
    background: #366dc5;
  }
  .navbar .social-media-btn .btn-youtube {
    background: #ff0000;
  }
  .navbar .social-media-btn .btn-youtube:hover {
    background: #c50000;
  }

  .navbar .social-media-btn .btn-twitter {
    background: #38A1F3;
  }
  .navbar .social-media-btn .btn-twitter:hover {
    background: #4b94d8;
  }
  .navbar .social-media-btn .btn i {
    
    font-size: 16px;
    position: relative;
    top: 2px;
  }



/* Social media buttons wont go over menu button when in mobile size*/
@media (max-width: 768px){
  .mobile-dropdown-rule{
    padding-top: 0px;
    margin-bottom: 34px;
  }
}


