
/* Notes in DASHBOARD*/

    /* ---- .grid-item ---- */
    @media (min-width: 768px) {
        .grid-item {
          float: left;
          width: 23%;   
          margin-right: 10px;
          margin-bottom: 10px;   
        }
    
        .note-button h1{
          font-size: 20px;
          margin-bottom: 6px;
        }
        .note-button{
            height: 250px;
        }

        .dashboard-note-text{
            margin-bottom: 8px;
        }
  
    }
    @media (max-width: 768px) {
        .grid-item {
            float: left;
            width: 100%;   
            margin-bottom: 20px;  
          
          
        }
        .note-button h1{
          font-size: 16px;
          margin-bottom: 3px;
        }
        .note-button{
            height: 204px;
        }
    }
    .note-button{ 
      background: #fff;
      
      
      margin-left: 10px;
      margin-bottom: 16px;
      width: 100%;





   
     
    
    }
    .note-button:hover {
        
        -webkit-box-shadow: 1px 1px 6px 2px rgba(207,207,207,1);
        -moz-box-shadow: 1px 1px 6px 2px rgba(207,207,207,1);
        box-shadow: 1px 1px 6px 2px rgba(207,207,207,1);
    }
  
    .dashboard-note-text{
        text-align: left;
        word-wrap:break-word;
        height: 55%;
        overflow: hidden;
        color: #000000;
      }
    
    .moj-btn{
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: wrap;     /* Only difference from notmal btn- used for note text button */
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;

        
        border: 1px solid ;
        border-radius: 4px;
        border-color: rgb(228, 228, 228);

       
    }

    a:hover, a:visited, a:link, a:active {

        text-decoration: none!important;
 
    }



    .note-control-buttons{
        color:  rgb(172, 172, 172);
        float:right;
        display: none;
        	
    }
    .note-button:hover .note-control-buttons{ 
        display:block;
    }


    .note-upper-left-button{
        color:  rgb(0, 0, 0);
        display: none;
        position: absolute;
        z-index: 2;
        top: -20px;
        display: none;
        left: -15px;	
        height: 45px;
        width: 55px;	
    }
    .note-button:hover .note-upper-left-button{ 
        display:block;
    }

