{% extends 'base.html' %}
{% block content %}






	<!-- Main container start -->

	<section id="main-container">
		<div class="container">

			<!-- Company Profile -->
			<div class="row">
				        </div>
			

<h3 class="widget-title"><a href="{% url 'send_daily_forecast' %}" class="btn btn-primary solid ">Send daily forecast to all users via SMS*</a></h3>	
* All approved users that have inputed their mobile numbers and wish to receive weather forecast via SMS.		

                
</div>
            </section><!--/ Main container end -->

	

	



{% endblock %}