{% extends 'base.html' %}
{% block content %}






	<!-- Main container start -->

	<section id="main-container">
		<div class="container">

			<!-- Company Profile -->
			<div class="row">
				<div class="col-md-12 heading">
					<span class="title-icon classic pull-left"><i class="fa fa-suitcase"></i></span>
					<h2 class="title classic">FAQ
                    </h2>
				</div>
			</div><!-- Title row end -->

			<div class="row">
				<div class="landing-tab clearfix">
					<ul class="nav nav-tabs nav-stacked col-md-3 col-sm-5">
					  
					  	<li class="active">
						  	<a class="animated fadeIn" href="#tab_b" data-toggle="tab">
						  		<span class="tab-icon"><i class="fa fa-firefox"></i></span>
					  			<div class="tab-info">
						  			<h3>Setup for Firefox on a computer</h3>
					  			</div>
						  	</a>
						</li>
					 	<li>
						  	<a class="animated fadeIn" href="#tab_c" data-toggle="tab">
						  		<span class="tab-icon"><i class="fa fa-chrome"></i></span>
					  			<div class="tab-info">
						  			<h3>Setup for Chrome on a computer</h3>
					  			</div>
						  	</a>
						</li>
						<li>
						  	<a class="animated fadeIn" href="#tab_d" data-toggle="tab">
						  		<span class="tab-icon"><i class="fa fa-firefox"></i></span>
					  			<div class="tab-info">
						  			<h3>Setup for Firefox on mobile device</h3>
					  			</div>
						  	</a>
						</li>
						<li>
						  	<a class="animated fadeIn" href="#tab_e" data-toggle="tab">
						  		<span class="tab-icon"><i class="fa fa-support"></i></span>
					  			<div class="tab-info">
						  			<h3>Contact & Support</h3>
					  			</div>
						  	</a>
						</li>
					</ul>
					<div class="tab-content col-md-9 col-sm-7">
				        <div class="tab-pane active animated fadeInLeft" id="tab_b">
				        	<i class="fa fa-firefox big"></i>
                            <h3>Setup for Firefox on a computer</h3> 
                            </br>
                        
                            <p>Install "New Tab Override" from Firefox Add-ons</p>
                            <p>
                                <a href="https://addons.mozilla.org/en-US/firefox/addon/new-tab-override/?src=search" class="btn btn-primary solid hover-black-text">Download</a></br>
                            </p>  
                            </br>                  
                            <p>
                                Select "New tab - settings" in the top right corner of your Firefox window to open settings.
                            </p>
                            <p> 
                                In the settings window for OPTION select "custom URl" and for URL type in "www.amibit.org".
                            </p>
                            <p>
                                We recommend that you select Focus - "Set focus to the web page instead of address bar" which will set focus to our search. 
                            </p>       							 
				        </div>
				        <div class="tab-pane animated fadeIn" id="tab_c">
				            <i class="fa fa-chrome big"></i>
				            <h3>Setup for Chrome on a computer</h3> 
                            </br> 
                            <p>
                                Install "Change New Tab" from hrome web store

                            </p>           
                            <p>
                                <a href="https://chrome.google.com/webstore/detail/change-new-tab/mocklpfdimiadpbgamlgehpgpodggahe?hl=en" class="btn btn-primary solid hover-black-text">Download</a></br>
                            </p> 
                            </br>  
                            <p>
                                Select Add to Chrome button.
                            </p>
                            <p>
                                After instalation is done Change New Tab window will automatically open. Type in "www.amibit.org" and click X.
                            </p>
                            <p>
                                Done! When you select New Tab in Google Chrome it will take you to Amibit!
                            </p>                         
				        </div>
				        <div class="tab-pane animated fadeIn" id="tab_d">
				            <i class="fa fa-firefox big"></i>
				            <h3>Setup for Firefox on mobile device</h3> 
                            </br>     
                            <p>
                                Select three dots in the top right corner of your Firefox window to open Firefox menu.
                            </p>
                            <p>
                                In the Firefox menu select "Settings" and then select "General".
                            </p>
                            <p>
                                In the General window select "Home" and then select "Set a Homepage".
                            </p>
                            <p>
                                In the new window select "custom" and type "www.amibit.org" as a address.
                            </p>
				        </div>
				        <div class="tab-pane animated fadeIn" id="tab_e">
				            <i class="fa fa-support big"></i>
								<h3>Contact & Support</h3> 
								<p>
								</br> 
									<p>Goran Aviani</p>
	
									<p>Software Developer</p>
									
									<p>Stockholm, SE</p>
								</br> 
									
									<p>LinkedIn:</p>
									
									<p><a href="https://www.linkedin.com/in/goran-aviani">https://www.linkedin.com/in/goran-aviani/</a></p>
	
									<p>GitHub:
									
									<p><a href="https://github.com/GoranAviani">https://github.com/GoranAviani</a></p>
									
									<p>Medium articles:
									
									<p><a href="https://medium.com/@goranaviani">https://medium.com/@goranaviani</a></p>
									
										
	
									<p>E-mail:</p>
									
									<p>goran.aviani@gmail.com</p>    
                           
                           
                            </p>
				        </div>
					</div><!-- tab content -->
	    		</div><!-- Overview tab end -->
			</div><!--/ Content row end -->

			<!-- Company Profile -->

		</div><!--/ 1st container end -->

	




                

            </section><!--/ Main container end -->

	

	



{% endblock %}