<!-- templates/base.html -->
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Amibit 2</title>
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link type="text/css" href="{% static 'css/base_nav.css' %} " rel="stylesheet">
  <link type="text/css" href="{% static 'css/custom.css' %} " rel="stylesheet">
  <link type="text/css" href="{% static 'css/dashboard.css' %} " rel="stylesheet">
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/notelink.js' %}"></script>

  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">











  	<!-- Template styles-->
	<link rel="stylesheet" href="{% static 'css/design/style.css' %}">
	<!-- Responsive styles-->
	<link rel="stylesheet" href="{% static 'css/design/responsive.css' %}">
	<!-- Animation -->
	<link rel="stylesheet" href="{% static 'css/design/animate.css' %}">
	<!-- Prettyphoto -->
	<link rel="stylesheet" href="{% static 'css/design/prettyPhoto.css' %}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/design/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/design/owl.theme.css' %}">
	<!-- Flexslider -->
	<link rel="stylesheet" href="{% static 'css/design/flexslider.css' %}">
	<!-- Flexslider -->
	<link rel="stylesheet" href="{% static 'css/design/cd-hero.css' %}">
	<!-- Style Swicther -->
	<link id="style-switch" href="{% static 'css/design/presets/preset3.css' %}" media="screen" rel="stylesheet" type="text/css">



</head>
<body>
  <!-- <script type="text/javascript">
    // Prevent dropdown menu from closing when click inside the form
    $(document).on("click", ".navbar-right .dropdown-menu", function(e){
      e.stopPropagation();
    });
  </script>
-->


<nav class="navbar navbar-default navbar-expand-lg navbar-light">

<!-- Header start -->
<header id="header" class="navbar-fixed-top header gray-bckg" role="banner">
  <div class="container">
    <div class="row">
      <!-- Logo start -->
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand navbar-bg">
            <a href="{% url 'index' %}">
              <img class="img-responsive" src="{% static 'images/images/logo.png' %}" alt="logo">
            </a> 
          </div>                   
      </div><!--/ Logo end -->
      <nav class="collapse navbar-collapse clearfix" role="navigation">








        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown active">

            <form class="navbar-form form-inline" action="/search/" method="GET" >
              {% csrf_token %}
              <div class="input-group search-box">                
                <input type="text" name="search_bar" id="base_search" class="form-control" placeholder="Search here...">
                <button type="submit" class="input-group-addon" ><i class="material-icons">&#xE8B6;</i></button>  
              </div>
            </form>
       
          </li>


          <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <i class="fa fa-angle-down"></i></a>
                         <div class="dropdown-menu">
              <ul>
                              <li><a href="{% url 'index' %}">Home 1</a></li>
                              <li><a href="index-2.html">Home 2</a></li>
                              <li><a href="index-3.html">Home 3</a></li>
                              <li><a href="index-4.html">Home 4</a></li>
                          </ul>
                      </div>
                    </li>
          <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Company <i class="fa fa-angle-down"></i></a>
                         <div class="dropdown-menu">
              <ul>
                              <li><a href="about.html">About Us</a></li>
                              <li><a href="service.html">Services</a></li>
                              <li><a href="career.html">Career</a></li>
                              <li><a href="testimonial.html">Testimonials</a></li>
                              <li><a href="faq.html">Faq</a></li>
                          </ul>
                      </div>
                    </li>

                   
                    <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features <i class="fa fa-angle-down"></i></a>
                         <div class="dropdown-menu">
              <ul>
                                <li><a href="typography.html">Typography</a></li>
                              <li><a href="elements.html">Elements</a></li>




                              {% if user.is_authenticated %}         
                              <li><div class="form-group">
                                <form action="{% url 'logout' %}">
                                    <input type="submit" class="btn btn-primary btn-block" value="Log out" />
                                </form>   
                              </div>
                            </li>      
                            {% else %}
                            <li> <div class="form-group">
                                <form action="{% url 'login' %}">
                                    <input type="submit" class="btn btn-primary btn-block" value="Log in" />
                                </form>   
                              </div>
                            </li>
                            {% endif %}



                          </ul>
                      </div>
                    </li>
                <li><a href="contact.html">Contact</a></li>
                  </ul>
      </nav><!--/ Navigation end -->
    </div><!--/ Row end -->
  </div><!--/ Container end -->
</header><!--/ Header end -->

</nav>















                                                                 




    <main>
    {% block content %}
   
    {% endblock %}
  </main>

</body>
</html>