<!-- templates/base.html -->
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Amibit 2</title>
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link type="text/css" href="{% static 'css/base_nav.css' %} " rel="stylesheet">
  <link type="text/css" href="{% static 'css/custom.css' %} " rel="stylesheet">
  <link type="text/css" href="{% static 'css/dashboard.css' %} " rel="stylesheet">
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/notelink.js' %}"></script>

  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">







</head>
<body>
  <!-- <script type="text/javascript">
    // Prevent dropdown menu from closing when click inside the form
    $(document).on("click", ".navbar-right .dropdown-menu", function(e){
      e.stopPropagation();
    });
  </script>
-->

<nav class="navbar navbar-default navbar-expand-lg navbar-light">
    <div class="navbar-header d-flex col">
      <a class="navbar-brand" href="{% url 'index' %}">ami<b>bit</b>2</a>     
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
        <span class="navbar-toggler-icon"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>




    
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
      
      <form class="navbar-form form-inline" action="/search/" method="GET" >
        {% csrf_token %}
        <div class="input-group search-box">                
          <input type="text" name="search_bar" id="base_search" class="form-control" placeholder="Search here...">
          <button type="submit" class="input-group-addon" ><i class="material-icons">&#xE8B6;</i></button>  
        </div>
      </form>
 
       <ul class="nav navbar-nav navbar-right ml-auto">     
 
 





        <li class="nav-item">
                <li class="dropdown active">
                               <a href="#" class="dropdown-toggle text-red" data-toggle="dropdown">Home <i class="fa fa-angle-down"></i></a>
                               <div class="dropdown-menu">


                    <ul>
                      <li> 
                        <a href="https://www.facebook.com/" target="_self" class="text-red"><i class="fa fa-facebook btn-facebook "></i></a>
                      </li>
                      <li>
                        <a href="https://www.gmail.com/" target="_self" class="btn btn-google col-md-2 col-xs-2 "><i class="fa fa-google"></i> </a>
                  

                      </li>
                      <li><a href="index-3.html">Home 3</a></li>
                      <li><a href="index-4.html">Home 4</a></li>
                    </ul>
                            </div>
                          </li>
              
                        </li>                 
                        <li class="nav-item">
                          <li class="dropdown">
                               <a href="#" class="dropdown-toggle text-red padding-left" data-toggle="dropdown">Menu <i class="fa fa-angle-down"></i></a>
                               <div class="dropdown-menu">
                    <ul>{% if user.is_authenticated %}
                                      <li>


                                          
                                          <a href="{% url 'user_settings_menu' %}" class="text-red">User settings</a>
                     
                                           
                                         

                                      </li>

                                      {% endif %}
                                    <li><a href="elements.html">Elements</a></li>
                                </ul>
                            </div>
                          </li>
                      <li>
                      </li> 


        


        <li class="nav-item">
          <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Quick links</a>
          <ul class="mobile-dropdown-rule dropdown-menu form-wrapper col-md-12 col-xs-12">					
            <li>             
                <div class="form-group social-media-btn ">   
                  <a href="https://www.facebook.com/" target="_self" class="btn btn-facebook  col-md-2 col-xs-2 "><i class="fa fa-facebook"></i> </a>
                  <a href="https://www.gmail.com/" target="_self" class="btn btn-google col-md-2 col-xs-2 "><i class="fa fa-google"></i> </a>
                  <a href="https://www.youtube.com/" target="_self" class="btn btn-youtube col-md-2 col-xs-2"><i class="fa fa-youtube"></i> </a>
                  <a href="https://www.linkedin.com/" target="_self" class="btn btn-linkedin col-md-2 col-xs-2"><i class="fa fa-linkedin"></i> </a>
                  <a href="https://www.twitter.com/" target="_self" class="btn btn-twitter col-md-2 col-xs-2"><i class="fa fa-twitter"></i> </a>
                </div>
            </li>
          </ul>
        </li>
        
        <li class="nav-item">
          <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1">Menu</a>
          <ul class="dropdown-menu form-wrapper">					
            <li>
                {% if user.is_authenticated %}
                  <p class="hint-text"> {{ user.username }} welcome to your main menu</p>
                {% else %}
                  <p class="hint-text"> Hi Guest, please login to unlock all features</p>
                {% endif %}
                
                {% if user.is_authenticated %}
                <div class="form-group">
                  <form action="{% url 'user_settings_menu' %}">
                      <input type="submit" class="btn btn-primary btn-block" value="User settings" />
                  </form>   
                </div>
                {% endif %}
                <div class="form-group">
                    2 button
                </div>
                <div class="form-group">
                    3 button
                </div>
                {% if user.is_authenticated %}         
                  <div class="form-group">
                    <form action="{% url 'logout' %}">
                        <input type="submit" class="btn btn-primary btn-block" value="Log out" />
                    </form>   
                  </div>      
                {% else %}
                  <div class="form-group">
                    <form action="{% url 'login' %}">
                        <input type="submit" class="btn btn-primary btn-block" value="Log in" />
                    </form>   
                  </div>
                {% endif %}
                
                
               
                
                </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
                                                                 




    <main>
    {% block content %}
   
    {% endblock %}
  </main>

</body>
</html>