{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id = NoteContainer class="col-md-9 col-xs-12">
      <div class="col-md-12 col-xs-12">
        <a href ="{% url 'create_note' %}" class="btn btn-primary solid margin-30-top margin-10-bottom hover-red-text pull-left col-md-4 col-xs-12">
          Take a note
        </a>
      </div>
        {% if queryUserNote %}
        <button onclick="toggle_notes()" class="btn btn-primary solid visible-xs col-md-12 col-xs-12">YOUR NOTES</button>      
        <div  class="col-md-12 col-xs-12 notes-list-container">
             <div id = DashboardNotes class="grid" data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "fitRows" }'>
              <div class="grid">                  
              {% for note in queryUserNote %}
                <div class="grid-item">
                    <div class="moj-btn note-button btn-100percent">
                      <a href ="{% url 'update_note' note.id %}" >
                        <h1>{{note.noteTitle}}</h1>
                        <div class="dashboard-note-datetime">
                          {{ note.noteTimestamp }}
                        </div>
                        <div class="dashboard-note-text">
                          {{ note.noteText}}
                        </div>
                      </a>
                      <img href="#" class="btn note-upper-left-button" src="{% static 'images/notelink/pen.png' %}"/>    
                      <a href="{% url 'delete_note' note.id %}" class="btn-moj note-control-buttons" onclick="return confirmNoteDeletion()">
                        <i class="glyphicon glyphicon-trash"></i> 
                      </a>    
                      <a href="{% url 'update_note' note.id %}" class="btn-moj note-control-buttons">
                        <i class="glyphicon glyphicon-pencil"></i>
                      </a>
                    </div>                
                </div>  
              {% endfor %}
            </div>
           </div>
          </div>
        {% else %}
          <p>There are no notes available. Click <a href="{% url 'create_note' %}">here</a> to add note</p>
        {% endif %}
  </div>

  <div id = LinkContainer class="col-md-3 col-xs-12">
    <a href ="{% url 'create_link' %}" class="btn btn-primary solid margin-30-top margin-10-bottom hover-red-text col-md-12 col-xs-12" >
      Create a link
    </a>
    <div class="links-list-container">
      {% if queryUserLink %}
        <button onclick="toggle_links()" class="btn btn-primary solid visible-xs col-md-12 col-xs-12">YOUR LINKS</button>
        <div id = DashboardLinks>
          {% for link in queryUserLink %}

              <div class = "">

            <a href="{{link.linkUrl}}" target="_self" class="moj-btn link-button btn-100percent col-md-8 col-xs-8">          
                <span class="pull-left">{{ link.linkName }}</span>&nbsp;         
             
              
          <a href ="{% url 'update_link' link.id %}" class="moj-btn link-button col-md-2 col-xs-2">
            <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a href="{% url 'delete_link' link.id %}" class='moj-btn link-button col-md-2 col-xs-2' onclick="return confirmLinkDeletion()">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          
          </div> 
          {% endfor %}
        </div>
      {% else %}
          <p>There are no links available. Click <a href="{% url 'create_link' %}">here</a> to add links</p>
      {% endif %}
      </div>
    </div>
  </div>

  


{% endblock %}