{% extends 'base.html' %}

{% block content %}


<form method="post">
    {% csrf_token %}
    Username: {{user_profile_form_data.username}}
    <br/>
    First name: {{user_profile_form_data.first_name}}
    <br/>
    Last name: {{user_profile_form_data.last_name}}
    <br/>
    Email: {{user_profile_form_data.email}}
    <br/>
    Secondary email: {{user_profile_form_data.userSecondEmail}}
    <br/>
    Date of birth: {{user_profile_form_data.userDoB}}
    <br/>
    Country: {{user_profile_form_data.userCountry}}
    <br/>
    Town: {{user_profile_form_data.userCity}}
    <br/>
    Mobile number: {{user_profile_form_data.userMobilenumber}}
    <br/>

    <button type="submit">Save</button>
</form>


{% endblock %}