{% extends 'base.html' %}

{% block content %}

<div class="container margin-30-top">
<form method="post">
    {% csrf_token %}
    Username: {{user_profile_form_data.username}}
    <br/>
    First name: {{user_profile_form_data.first_name}}
    <br/>
    Last name: {{user_profile_form_data.last_name}}
    <br/>
    Email: {{user_profile_form_data.email}}
    <br/>
    Secondary email: {{user_profile_form_data.userSecondEmail}}
    <br/>
    Date of birth: {{user_profile_form_data.userDoB}}
    <br/>
    Address: {{user_profile_form_data.userAddress}}
    <br/>
    Town: {{user_profile_form_data.userCity}}
    <br/>
    Country: {{user_profile_form_data.userCountry}}
    <br/>
    
    <button type="submit" class="btn btn-primary solid width-100 hover-black-text" >Save</button>
</form>
</div>

{% endblock %}